<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Sample Spring Boot Application</title>
     <!-- 
        <link th:href="@{/css/main.css}" rel="stylesheet" />
     -->

    </head>
    <body>
        <h1>Sample Spring Boot Application</h1>
        <p th:text="${upSince}">No date/time to display. No server running.</p>
        
	<!-- 
	    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	 -->        
    </body>
</html>
